<div class="panel panel-default">
    <!--start panel heading-->
    <div class="row panel-heading" ng-class="{edit : panelState=='edit'}" ng-switch="panelState">
        <!--start left menu-->
        <div class="btn-group-vertical menu-left">
            <label class="btn btn-info" ng-class="{active : sessionType=='future'}">
                <input type="radio" ng-model="sessionType" value="future">
                <span class="fi-future"></span>
            </label>
            <label class="btn btn-success" ng-class="{active : sessionType=='live'}">
                <input type="radio" ng-model="sessionType" value="live">
                <span class="glyphicon glyphicon-play"></span>
            </label>
            <label class="btn btn-warning" ng-class="{active : sessionType=='past'}">
                <input type="radio" ng-model="sessionType" value="past">
                <span class="fi-history"></span>
            </label>
        </div>
        <!--end left menu-->
        <!--start panel-heading content-->
        <!--start view mode-->
        <div ng-switch-when="view" data-toggle="collapse" data-parent="#accordion" href="[['#session' + $index]]">
            <div class="col-md-8 pull-left row">
                <h2 class="panel-title">Collapsible Group Item #1</h2>
                <span class="label label-default">Studie</span>
                <div class="row">
                    <div class="col-sm-4 input-group" id='datepicker'>dd/mm/jjjj</div>
                    <div class="col-sm-4 input-group" id="starttimepicker">hh:mm pm</div>
                    <div class="col-sm-4 input-group" id="endtimepicker">hh:mm pm</div>
                </div>
            </div>
            <div class="pull-right">
                <div class="pull-right">
                    <div class="is_square-80">feedback gebruiker</div>
                </div>
                <div class="pull-right">
                    <div class="is_square-80">efficiëntiescore</div>
                </div>
            </div>
            <div class="clearfix xs-visible"></div>
        </div>
        <!--end view mode-->
        <!--start edit mode-->
        <div ng-switch-when="edit" ng-model="activityType">
            <div class="col-md-8 pull-left row">
                <textarea class="form-control" rows="1" placeholder="Beschrijving"></textarea>
                <div class="btn-group">
                    <label class="btn btn-primary" ng-class="{active : activityType=='class'}">
                        <input type="radio" ng-model="activityType" value="class">Les</label>
                    <label class="btn btn-primary" ng-class="{active : activityType=='study'}">
                        <input type="radio" ng-model="activityType" value="study">Studie</label>
                </div>
                <div class="row">
                    <div class="col-sm-4 input-group datepicker" id='datepicker'>
                        <input type='text' class="form-control" data-format="DD/MM/YYYY" placeholder="dd/mm/jjjj" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <div class="col-sm-4 input-group starttimepicker" id="starttimepicker">
                        <input type='text' class="form-control" placeholder="hh:mm" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                    <div class="col-sm-4 input-group endtimepicker" id="endtimepicker">
                        <input type='text' class="form-control" placeholder="hh:mm" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <div class="pull-right">
                    <div class="is_square-80">
                        <textarea class="form-control" rows="3" placeholder="Feedback gebruiker"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!--end edit mode-->
        <button type="button" class="btn is_edit-btn" ng-click="panelState='edit'">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <!--start right menu-->
        <div class="btn-group-vertical menu-right">
            <button type="button" class="btn btn-default" ng-click="panelState='view'">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
        <!--end right menu-->
        <div class="clearfix xs-visible"></div>
    </div>
    <!--end panel heading-->
    <!--start panel body-->
    <div id="[['session' + $index]]" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 is_no-padding">
                    <div class="col-sm-6">light
                        <div>lamp svg</div>
                        <div class="is_row-square">
                            <div class="pull-left">
                                <div class="is_square-40">best</div>
                            </div>
                            <div class="pull-left">
                                <div class="is_square-40">worst</div>
                            </div>
                        </div>
                        <div class="clearfix xs-visible"></div>
                    </div>
                    <div class="col-sm-6">sound
                        <div>speaker svg</div>
                        <div class="is_row-square">
                            <div class="pull-left">
                                <div class="is_square-40">best</div>
                            </div>
                            <div class="pull-left">
                                <div class="is_square-40">worst</div>
                            </div>
                        </div>
                        <div class="clearfix xs-visible"></div>
                    </div>
                </div>
                <div class="col-md-6 is_no-padding">
                    <div class="col-sm-6">temperature
                        <div>thermometer svg</div>
                        <div class="is_row-square">
                            <div class="pull-left">
                                <div class="is_square-40">best</div>
                            </div>
                            <div class="pull-left">
                                <div class="is_square-40">worst</div>
                            </div>
                        </div>
                        <div class="clearfix xs-visible"></div>
                    </div>
                    <div class="col-sm-6">humidity
                        <div>water drop svg</div>
                        <div class="is_row-square">
                            <div class="pull-left">
                                <div class="is_square-40">best</div>
                            </div>
                            <div class="pull-left">
                                <div class="is_square-40">worst</div>
                            </div>
                        </div>
                        <div class="clearfix xs-visible"></div>
                    </div>
                </div>
            </div>
            <!--end sensor data-->
            <div class="row">
                <div class="col-sm-12">Cameragegevens</div>
                <div class="col-sm-6">efficiëntie%
                    <div class="is_row-square">
                        <div class="pull-left">
                            <div class="is_square-40">best</div>
                        </div>
                        <div class="pull-left">
                            <div class="is_square-40">worst</div>
                        </div>
                    </div>
                    <div class="clearfix xs-visible"></div>
                </div>
                <div class="col-sm-6">pauze%
                    <div class="is_row-square">
                        <div class="pull-left">
                            <div class="is_square-40">best</div>
                        </div>
                        <div class="pull-left">
                            <div class="is_square-40">worst</div>
                        </div>
                    </div>
                    <div class="clearfix xs-visible"></div>
                </div>
            </div>
            <!--end camera stats-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <h2>Title</h2>
                    </div>
                    <div class="pull-right">select x-axis</div>
                    <div class="clearfix xs-visible"></div>
                    <div>graph met 2 lijnen
                        <div>
                        <div>
                            <select>
                                <option ng-model="graphOptions" value="option1">option1
                                </option>
                                <option ng-model="graphOptions" value="option2">option2
                                </option>
                                <option ng-model="graphOptions" value="option3">option3
                                </option>
                            </select>
                            <dynamic-graph chartdata="chartdata"></dynamic-graph>
                            <!--<bar-chart height="300" data="data" hovered="hovered(args)></bar-chart>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--variable graph-->
        </div>
        <!--panelbody-->
    </div>
    <!--end panel-body-wrap-->
</div>