{% extends "pages/navigation.html" %}
{% block content %}
  		<div class="row">
			<div class="is_content is_follow-navbar is_follow-sidepanel is_follow-sidepanel-style">
				<div class="col-xs-12 is_header" style="background-image: url({{url_for('static', filename='header_img2.jpg')}})">
					<div class="col-sm-6 is_profile-info">
						<div class="is_info-background">
							<div class="is_profile-pic-container">
								<img class="img-rounded img-responsive" src="https://graph.facebook.com/jacobspelle/picture?width=200&height=200"></img>
							</div>
							<div class="is_info">
								<h2>First name Last name</h2>
								<a href="#">University</a>
								<br>Study
								<span class="badge">phase</span>
								<br>Study
								<span class="badge">phase</span>
								<br>
							</div>
						</div>
					</div>
					<div class="col-sm-6"></div>
				</div>
				<div class="is_user-abstract is_follow-navbar affix-top" data-spy="affix" data-offset-top="305">
					<div class="is_profile-pic-container">
						<img class="img-rounded img-responsive" src="https://graph.facebook.com/jacobspelle/picture?width=200&height=200"></img>
					</div>
					<h4>First name Last name</h4>
				</div>
				<div class="clearfix xs-visible"></div>
				<div class="is_content-actions-wrap">
					<div class="is_content-actions is_follow-navbar" data-spy="affix" data-offset-top="305">
						<ol class="breadcrumb">
							<li>
								<a href="#">Dashboard</a>
							</li>
							<li>
								<a href="#">Vak</a>
							</li>
							<li class="active">Sessie</li>
						</ol>
						<div class="btn-group">
							<button type="button" class="btn btn-danger">Action</button>
							<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu pull-right" role="menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
						</div>
						<div class="clearfix xs-visible"></div>
					</div>
				</div>
				<div class="container" style="max-width:100%">
					<h1>Hello, [[name]]!</h1>
					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="row panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
								<h2 class="col-md-8 panel-title pull-left">
									Collapsible Group Item #1
								</h2>
								<div class="pull-right">
									<div class="pull-right">
										<div class="is_square-80">feedback gebruiker</div>
									</div>
									<div class="pull-right">
										<div class="is_square-80">efficiëntiescore</div>
									</div>
								</div>
								<div class="clearfix xs-visible"></div>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-6 is_no-padding">
											<div class="col-sm-6">light
												<div>lamp svg</div>
												<div class="is_row-square">
													<div class="pull-left">
														<div class="is_square-40">best</div>
													</div>
													<div class="pull-left">
														<div class="is_square-40">worst</div>
													</div>
												</div>
												<div class="clearfix xs-visible"></div>
												<div class="is_row-square is_compare">
													<div class="pull-left">
														<div class="is_square-40">best</div>
													</div>
													<div class="pull-left">
														<div class="is_square-40">worst</div>
													</div>
												</div>
											</div>
											<div class="col-sm-6">sound
												<div>speaker svg</div>
												<div class="is_row-square">
													<div class="pull-left">
														<div class="is_square-40">best</div>
													</div>
													<div class="pull-left">
														<div class="is_square-40">worst</div>
													</div>
												</div>
												<div class="clearfix xs-visible"></div>
												<div class="is_row-square is_compare">
													<div class="pull-left">
														<div class="is_square-40">best</div>
													</div>
													<div class="pull-left">
														<div class="is_square-40">worst</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6 is_no-padding">
											<div class="col-sm-6">temperature
												<div>thermometer svg</div>
												<div class="is_row-square">
													<div class="pull-left">
														<div class="is_square-40">best</div>
													</div>
													<div class="pull-left">
														<div class="is_square-40">worst</div>
													</div>
												</div>
												<div class="clearfix xs-visible"></div>
												<div class="is_row-square is_compare">
													<div class="pull-left">
														<div class="is_square-40">best</div>
													</div>
													<div class="pull-left">
														<div class="is_square-40">worst</div>
													</div>
												</div>
											</div>
											<div class="col-sm-6">humidity
												<div>water drop svg</div>
												<div class="is_row-square">
													<div class="pull-left">
														<div class="is_square-40">best</div>
													</div>
													<div class="pull-left">
														<div class="is_square-40">worst</div>
													</div>
												</div>
												<div class="clearfix xs-visible"></div>
												<div class="is_row-square is_compare">
													<div class="pull-left">
														<div class="is_square-40">best</div>
													</div>
													<div class="pull-left">
														<div class="is_square-40">worst</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">Cameragegevens</div>
										<div class="col-sm-6">efficiëntie%
											<div class="is_row-square">
												<div class="pull-left">
													<div class="is_square-40">best</div>
												</div>
												<div class="pull-left">
													<div class="is_square-40">worst</div>
												</div>
											</div>
											<div class="clearfix xs-visible"></div>
											<div class="is_row-square is_compare">
												<div class="pull-left">
													<div class="is_square-40">best</div>
												</div>
												<div class="pull-left">
													<div class="is_square-40">worst</div>
												</div>
											</div>
										</div>
										<div class="col-sm-6">pauze%
											<div class="is_row-square">
												<div class="pull-left">
													<div class="is_square-40">best</div>
												</div>
												<div class="pull-left">
													<div class="is_square-40">worst</div>
												</div>
											</div>
											<div class="clearfix xs-visible"></div>
											<div class="is_row-square is_compare">
												<div class="pull-left">
													<div class="is_square-40">best</div>
												</div>
												<div class="pull-left">
													<div class="is_square-40">worst</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="pull-left">
												<h2>Title</h2>
											</div>
											<div class="pull-right">select x-axis</div>
											<div class="clearfix xs-visible"></div>
											<div>graph met 2 lijnen</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="is_footer">
					<div class="container" style="max-width:100%">
						<img src="{{url_for('static', filename='footer-top.svg')}}"></img>
					</div>
					<div class="container is_no-padding" style="max-width:100%">
						<div class="col-sm-6 is_no-padding">
							<div class="col-xs-6">logo</div>
							<div class="col-xs-6">sociaal</div>
						</div>
						<div class="col-sm-6 is_no-padding">
							<div class="col-xs-6">over</div>
							<div class="col-xs-6">contact</div>
						</div>
						<div class="clearfix xs-visible"></div>
						<div class="is_legal">Copyright 2013 - iStudy+</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}