{% extends "pages/navigation.html" %} {% block content %}
<script type="text/ng-template" id="dashboard_overview.tpl">
<div class="panel panel-default">
	<!--start panel heading-->
	<div class="row panel-heading" ng-click="isCollapsed.value = !isCollapsed.value">
		<!--start panel-heading content-->
		<!--start view mode-->
		<div data-parent="#accordion" href="[['#course' + $index]]">
			<div class="col-md-8 pull-left row">
				<h1 class="panel-title">[[title]]</h1>
			</div>
			<div class="pull-right">
				<div class="pull-right">
					<div class="is_square-80">[[formatTime(user1.total_time)]]</div>
				</div>
				<div class="pull-right">
					<div class="is_square-80">[[Math.round(user1.total_efficiency*100)]] %</div>
				</div>
			</div>
			<div class="clearfix xs-visible"></div>
		</div>
		<!--end view mode-->
		<div class="clearfix xs-visible"></div>
	</div>
	<!--end panel heading-->
	<!--start panel body-->
	<div id="[['course' + $index]]" class="" collapse="isCollapsed.value">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6 is_no-padding">
					<div class="col-sm-6">Licht
						<div class="is_row-square">
							<div class="pull-left">
								<div class="is_square-40">[[user1.highest_illumination]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user1.lowest_illumination]]</div>
							</div>
						</div>
						<div class="clearfix xs-visible"></div>
						<div class="is_row-square is_compare" ng-if="user2">
							<div class="pull-left">
								<div class="is_square-40">[[user2.highest_illumination]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user2.lowest_illumination]]</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">Geluid
						<div class="is_row-square">
							<div class="pull-left">
								<div class="is_square-40">[[user1.highest_sound]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user1.lowest_sound]]</div>
							</div>
						</div>
						<div class="clearfix xs-visible"></div>
						<div class="is_row-square is_compare" ng-if="user2">
							<div class="pull-left">
								<div class="is_square-40">[[user2.highest_sound]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user2.lowest_sound]]</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 is_no-padding">
					<div class="col-sm-6">Temperatuur
						<div class="is_row-square">
							<div class="pull-left">
								<div class="is_square-40">[[user1.highest_temperature]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user1.lowest_temperature]]</div>
							</div>
						</div>
						<div class="clearfix xs-visible"></div>
						<div class="is_row-square is_compare" ng-if="user2">
							<div class="pull-left">
								<div class="is_square-40">[[user2.highest_temperature]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user2.lowest_temperature]]</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">Luchtvochtigheid
						<div class="is_row-square">
							<div class="pull-left">
								<div class="is_square-40">[[user1.highest_humidity]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user1.lowest_humidity]]</div>
							</div>
						</div>
						<div class="clearfix xs-visible"></div>
						<div class="is_row-square is_compare" ng-if="user2">
							<div class="pull-left">
								<div class="is_square-40">[[user2.highest_humidity]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user2.lowest_humidity]]</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end sensor data-->
			<div class="row">
				<div class="col-sm-6">Focuspercentage
					<div class="is_row-square">
						<div class="pull-left">
							<div class="is_square-40">[[Math.round(user1.highest_focus*100)]]</div>
						</div>
						<div class="pull-left">
							<div class="is_square-40">[[Math.round(user1.lowest_focus*100)]]</div>
						</div>
					</div>
					<div class="clearfix xs-visible"></div>
					<div class="is_row-square is_compare" ng-if="user2">
						<div class="pull-left">
							<div class="is_square-40">[[Math.round(user2.highest_focus*100)]]</div>
						</div>
						<div class="pull-left">
							<div class="is_square-40">[[Math.round(user2.lowest_focus*100)]]</div>
						</div>
					</div>
				</div>
			</div>
			<!--end camera stats-->
			<div class="row">
				<div class="col-sm-12">
					<div class="pull-left">
						<h2>Title</h2>
					</div>
					<div class="pull-right">select x-axis</div>
					<div class="clearfix xs-visible"></div>
					<div>graph met 2 lijnen
                        <div>
                        <div>
                            <!--<select>
                                <option ng-model="graphOptions" value="option1">option1
                                </option>
                                <option ng-model="graphOptions" value="option2">option2
                                </option>
                                <option ng-model="graphOptions" value="option3">option3
                                </option>
                            </select>-->

							<select ng-model="selectedItem" ng-options="item as item.name for item in items"></select>

                            <dynamic-graph chartdata="chartdata"></dynamic-graph>
                            <!--<bar-chart height="300" data="data" hovered="hovered(args)></bar-chart>-->
                        </div>
					</div>
				</div>
			</div>
			<!--variable graph-->
		</div>
		<!--panelbody-->
	</div>
	<!--end panel-body-wrap-->
</div>
</script>

<script type="text/ng-template" id="dashboard_course-list.tpl">
<div class="panel panel-default">
	<!--start panel heading-->
	<div class="row panel-heading" ng-click="isCollapsed.value = !isCollapsed.value">
		<!--start panel-heading content-->
		<!--start view mode-->
		<div data-toggle="collapse" data-parent="#accordion" href="[['#course' + $index]]">
			<div class="col-md-8 pull-left row">
				<h1 class="panel-title">[[title]]</h1>
			</div>
			<div class="pull-right">
				<div class="pull-right">
					<div class="is_square-80">[[formatTime(user1.total_time)]]</div>
				</div>
				<div class="pull-right">
					<div class="is_square-80">[[Math.round(user1.total_efficiency*100)]] %</div>
				</div>
			</div>
			<div class="clearfix xs-visible"></div>
		</div>
		<!--end view mode-->
		<a type="button" class="btn is_session-btn" ng-href="/app/[[viewedProfile.userID]]/sessions?[['course=' + course.id]]"> <!--/app/[[viewedProfile.id]]/sessions?-->
            <span class="glyphicon glyphicon-list"></span>
        </a>
		<div class="clearfix xs-visible"></div>
	</div>
	<!--end panel heading-->
	<!--start panel body-->
	<div id="[['course' + $index]]" class="" collapse="isCollapsed.value">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6 is_no-padding">
					<div class="col-sm-6">Licht
						<div class="is_row-square">
							<div class="pull-left">
								<div class="is_square-40">[[user1.highest_illumination]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user1.lowest_illumination]]</div>
							</div>
						</div>
						<div class="clearfix xs-visible"></div>
						<div class="is_row-square is_compare" ng-if="user2">
							<div class="pull-left">
								<div class="is_square-40">[[user2.highest_illumination]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user2.lowest_illumination]]</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">Geluid
						<div class="is_row-square">
							<div class="pull-left">
								<div class="is_square-40">[[user1.highest_sound]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user1.lowest_sound]]</div>
							</div>
						</div>
						<div class="clearfix xs-visible"></div>
						<div class="is_row-square is_compare" ng-if="user2">
							<div class="pull-left">
								<div class="is_square-40">[[user2.highest_sound]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user2.lowest_sound]]</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 is_no-padding">
					<div class="col-sm-6">Temperatuur
						<div class="is_row-square">
							<div class="pull-left">
								<div class="is_square-40">[[user1.highest_temperature]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user1.lowest_temperature]]</div>
							</div>
						</div>
						<div class="is_row-square is_compare" ng-if="user2">
							<div class="pull-left">
								<div class="is_square-40">[[user2.highest_temperature]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user2.lowest_temperature]]</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">Luchtvochtigheid
						<div class="is_row-square">
							<div class="pull-left">
								<div class="is_square-40">[[user1.highest_humidity]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user1.lowest_humidity]]</div>
							</div>
						</div>
						<div class="clearfix xs-visible"></div>
						<div class="is_row-square is_compare" ng-if="user2">
							<div class="pull-left">
								<div class="is_square-40">[[user2.highest_humidity]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user2.lowest_humidity]]</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end sensor data-->
			<div class="row">
				<div class="col-sm-6">Focuspercentage
					<div class="is_row-square">
						<div class="pull-left">
							<div class="is_square-40">[[Math.round(user1.highest_focus*100)]]</div>
						</div>
						<div class="pull-left">
							<div class="is_square-40">[[Math.round(user1.lowest_focus*100)]]</div>
						</div>
					</div>
					<div class="clearfix xs-visible"></div>
					<div class="is_row-square is_compare" ng-if="user2">
						<div class="pull-left">
							<div class="is_square-40">[[Math.round(user2.highest_focus*100)]]</div>
						</div>
						<div class="pull-left">
							<div class="is_square-40">[[Math.round(user2.lowest_focus*100)]]</div>
						</div>
					</div>
				</div>
			</div>
			<!--end camera stats-->
			<div class="row">
				<div class="col-sm-12">
					<div class="pull-left">
						<h2>Title</h2>
					</div>
					<div class="pull-right">select x-axis</div>
					<div class="clearfix xs-visible"></div>
					<div>graph met 2 lijnen
                        <div>
                        <div>
                            <!--<select>
                                <option ng-model="graphOptions" value="option1">option1
                                </option>
                                <option ng-model="graphOptions" value="option2">option2
                                </option>
                                <option ng-model="graphOptions" value="option3">option3
                                </option>
                            </select>-->

							<select ng-model="selectedItem" ng-options="item as item.name for item in items"></select>

                            <dynamic-graph chartdata="chartdata"></dynamic-graph>
                            <!--<bar-chart height="300" data="data" hovered="hovered(args)></bar-chart>-->
                        </div>
					</div>
				</div>
			</div>
			<!--variable graph-->
		</div>
		<!--panelbody-->
	</div>
	<!--end panel-body-wrap-->
</div>
</script>
<script type="text/ng-template" id="dashboard_session-list.tpl">
<div class="panel panel-default">
    <!--start panel heading-->
    <div class="row panel-heading" ng-class="{edit : panelState=='edit'}" ng-switch="panelState">
        <!--start left menu-->
        <div class="btn-group-vertical menu-left">
            <label class="btn btn-success" ng-class="{active : sessionType=='live'}">
                <input type="radio" ng-model="sessionType" value="live" disabled>
                <span class="glyphicon glyphicon-play"></span>
            </label>
            <label class="btn btn-warning" ng-class="{active : sessionType=='past'}">
                <input type="radio" ng-model="sessionType" value="past" disabled>
                <span class="fi-history"></span>
            </label>
        </div>
        <!--end left menu-->
        <!--start panel-heading content-->
        <!--start view mode-->
        <div ng-click="collapseController()" ng-switch-when="view" data-toggle="collapse" data-parent="#accordion" href="[['#session' + $index]]">
            <div class="col-md-8 pull-left row">
                <h2 class="panel-title">[[session.sessionData.description]]</h2>
                <div class="row">
                    <div class="col-sm-4 input-group">[[session.formattedStartDate]]</div>
                    <div class="col-sm-4 input-group" id="[[session.id + "starttime"]]">[[session.formattedStartTime]]</div>
                    <div class="col-sm-4 input-group" id="[[session.id + "endtime"]]">[[session.formattedEndTime]]</div>
                </div>
            </div>
            <div class="pull-right">
                <div class="pull-right">
                    <div class="is_square-80">[[Math.round(session.sessionData.feedback_score*100)]] %</div>
                </div>
                <div class="pull-right" ng-if="sessionType=='live'">
                    <div class="is_square-80">[[Math.round(session.sessionData.sessionEff*100)]] %</div>
                </div>
            </div>
            <div class="clearfix xs-visible"></div>
        </div>
        <!--end view mode-->
        <!--start edit mode-->
        <session-edit ng-switch-when="edit" sessiontype="sessionType" editdata="data.headerdata"></session-edit>
        <!--end edit mode-->
        <button type="button" class="btn is_edit-btn" ng-click="panelState='edit'">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <!--start right menu-->
        <div class="btn-group-vertical menu-right">
            <button type="button" class="btn btn-default" ng-click="save()">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="cancel()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="delete()" >
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
        <!--end right menu-->
        <div class="clearfix xs-visible"></div>
    </div>
    <!--end panel heading-->
    <!--start panel body-->
    <div id="[['session' + $index]]" class="" collapse="isCollapsed.value">
        <div class="panel-body" ng-if="tracked">

<div class="pull-left graphpanel" >
	<div class="is_square icon fi-lightbulb large"></div>
	<div class="is_square name" >Licht</div>
	<div class="is_square-80">[[session.sessionData.sessionIll]]</div>
    <static-graph class="chart" chartdata="chartdata.illumination">
	</static-graph>
</div>
<div class="pull-left graphpanel" >
	<div class="is_square icon fi-megaphone large"></div>
	<div class="is_square name" >Geluid</div>
	<div class="is_square-80">[[session.sessionData.sessionSound]]</div>
    <static-graph class="chart" chartdata="chartdata.sound">
	</static-graph>
</div>
<div class="pull-left graphpanel" >
	<div class="is_square icon fi-cloud large"></div>
	<div class="is_square name" >Temperatuur</div>
	<div class="is_square-80">[[session.sessionData.sessionTemp]]</div>
    <static-graph class="chart" chartdata="chartdata.temperature">
	</static-graph>
</div>
<div class="pull-left graphpanel" >
	<div class="is_square icon glyphicon glyphicon-tint"></div>
	<div class="is_square name" >Luchtvochtigheid</div>
	<div class="is_square-80">[[session.sessionData.sessionHum]]</div>
    <static-graph class="chart" chartdata="chartdata.humidity">
	</static-graph>
</div>
<div class="pull-left graphpanel" >
	<div class="is_square icon fi-book large"></div>
	<div class="is_square name" >Focus</div>
	<div class="is_square-80">[[session.sessionData.sessionFocus]]</div>
    <static-graph class="chart" chartdata="chartdata.focus">
	</static-graph>
</div>

        </div>
        <!--panelbody-->
    </div>
    <!--end panel-body-wrap-->
</div>
</script>
<script type="text/ng-template" id="sessionEdit.tpl">
	<div>
		<div class="col-md-8 pull-left">
			<select class="form-control" ng-model="newSession.course" ng-options="course.id as course.name for course in courselist"></select>
			<textarea ng-model="description" class="form-control" rows="1" placeholder="Beschrijving"></textarea>
			<div class="row">
				<div class="col-lg-4 input-group" id="datepicker" ng-controller="DatepickerDemoCtrl">
					<input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Sluiten" ng-disabled="sessiontype == 'live'"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open()" ng-disabled="sessiontype == 'live'">
							<span class="glyphicon glyphicon-calendar"></span>
						</button>
					</span>
				</div>
				<div class="col-lg-4 input-group" id="starttimepicker">
					<input class="form-control" name="newSession.ST" ui-mask="99:99" ng-model="newSession.ST" placeholder="uu:mm" class="input-large ng-dirty ng-valid ng-valid-mask" ng-disabled="sessiontype == 'live'">
					<span class="dropdown open input-group-btn">
						<button type="button" class="btn btn-default" ng-disabled="sessiontype == 'live'">
							<span class="glyphicon glyphicon-time"></span>
						</button>
					</span>
				</div>
				<div class="col-lg-4 input-group" id="endtimepicker" ng-class="{hidden : newSession.sessionType == 'live'}">
					<input class="form-control" name="newSession.ET" ui-mask="99:99" ng-model="newSession.ET" placeholder="uu:mm" class="input-large ng-dirty ng-valid ng-valid-mask" ng-disabled="sessiontype == 'live'">
					<span class="dropdown open input-group-btn">
						<button type="button" class="btn btn-default" ng-disabled="sessiontype == 'live'">
							<span class="glyphicon glyphicon-time"></span>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<p>Feedback</p>
			<rating value="rate" state-on="'glyphicon glyphicon-stop'" state-off="'glyphicon glyphicon-minus'" max="10" readonly="false" ng-class="{hidden : newSession.sessionType == 'live'}"></rating>
		</div>
	</div>
</script>
<script type="text/ng-template" id="panels.tpl">
	<div ng-switch="appViewState">
		<div class="panel-group" id="accordion" ng-switch-when="dashboard">
			<dashboardpanel></dashboardpanel>
		</div>
		<div class="panel-group" id="accordion" ng-switch-when="courses" ng-controller="coursecontroller">
			<coursepanel ng-repeat="course in courselist"></coursepanel>
		</div>
		<div class="panel-group" id="accordion" ng-switch-when="sessions" ng-controller="sessionscontroller">
			<sessionpanel ng-repeat="session in sessionlist | filter:courseFilterFunction"></sessionpanel> <!-- Boris (session.sessionData.course_id == courseFilter.selected) -->
		</div>
	</div>
</script>
<div class="row">
	<div class="is_content is_follow_navbar is_follow_sidepanel is_follow_sidepanel_style" ng-class="{is_follow_navbar_style : !isCollapsedTopnav.value, is_follow_sidepanel_style : !isCollapsedSidepanel.value, is_transitioning : isTransitioningSidepanel.value }">
		<div class="col-xs-12 is_header" style="background-image: url({{url_for('static', filename='header_img2.jpg')}})">
			<div class="col-sm-6 is_profile-info">
				<div class="is_info-background">
					<div class="is_profile-pic-container">
						<img class="img-rounded img-responsive" src="[[viewedProfile.pic_big]]"></img>
					</div>
					<div class="is_info">
						<h2 ng-cloak>[[viewedProfile.name]] [[viewedProfile.surname]]</h2>
						<br>
						<a href="#">Ku leuven</a>
						<br>
						[[viewedProfile.study]]
						<br>
					</div>
				</div>
			</div>
			<div class="col-sm-6"></div>
		</div>
		<div class="is_user-abstract is_follow_navbar" ng-class="{is_follow_navbar_style : !isCollapsedTopnav.value}" ui-scrollfix="+212"> <!--affix-top" data-spy="affix" data-offset-top="309"-->
			<div class="is_profile-pic-container">
				<img class="img-rounded img-responsive" src="https://graph.facebook.com/jacobspelle/picture?width=200&height=200"></img>
			</div>
			<h4>[[viewedProfile.name]] [[viewedProfile.surname]]</h4>
		</div>
		<div class="is_content-actions is_follow_navbar" ng-class="{is_follow_navbar_style : !isCollapsedTopnav.value}" ui-scrollfix="-97"> <!-- data-spy="affix" data-offset-top="309" -->
			<ol class="breadcrumb">
				<li>
					<a href="[['/app/' + viewedProfile.userID + '/dashboard']]">
						<i class="fi-home large"></i>
						<span class="hidden-xs">Dashboard</span>
					</a>
				</li>
				<li>
					<a href="[['/app/' + viewedProfile.userID + '/courses']]">
						<i class="fi-book large"></i>
						<span class="hidden-xs">Vakken</span>
					</a>
				</li>
				<li>
					<a href="[['/app/' + viewedProfile.userID + '/sessions']]">
						<i class="fi-results large"></i>
						<span class="hidden-xs">Sessies</span>
					</a>
				</li>
			</ol>
			<div class="btn-group">
  				<label class="btn btn-primary" ng-class="{active : compareToggle==true, hidden : (appviewstate == 'sessions') }">
    				<input type="checkbox" ng-model="compareToggle">Vergelijken
  				</label>
  				<select class="form-control" ng-model="courseFilter.selected" ng-options="course.id as course.name for course in selectableCourseList" ng-class="{ hidden : (appviewstate != 'sessions') }"></select> <!-- Boris -->
			</div>
		</div>
		<div class="container" ng-class="{compare: compareToggle}" style="max-width:100%">
			<ng-view></ng-view>
		</div>
		<div class="is_footer">
			<div class="container" style="max-width:100%">
				<img src="{{url_for('static', filename='footer-top.svg')}}"></img>
			</div>
			<div class="container is_no-padding" style="max-width:100%">
				<div class="col-sm-6 is_no-padding">
					<div class="col-xs-6">logo</div>
					<div class="col-xs-6">sociaal</div>
				</div>
				<div class="col-sm-6 is_no-padding">
					<div class="col-xs-6">over</div>
					<div class="col-xs-6">contact</div>
				</div>
				<div class="clearfix xs-visible"></div>
				<div class="is_legal">Copyright 2013 - iStudy+</div>
			</div>
		</div>
	</div>
</div>{% endblock %}