{% extends "pages/navigation.html" %} {% block content %}
<script type="text/ng-template" id="dashboard_overview.tpl">
<div class="panel panel-default">
	<!--start panel heading-->
	<div class="row panel-heading" ng-click="isCollapsed.value = !isCollapsed.value">
		<!--start panel-heading content-->
		<!--start view mode-->
		<div data-parent="#accordion" href="[['#course' + $index]]">
			<div class="col-md-8 pull-left row">
				<h1 class="panel-title">[[title]]</h1>
			</div>
			<div class="pull-right">
				<div class="pull-right">
					<div class="is_square-80">[[user1.total_time]]</div>
				</div>
				<div class="pull-right">
					<div class="is_square-80">[[user1.total_efficiency]]</div>
				</div>
			</div>
			<div class="clearfix xs-visible"></div>
		</div>
		<!--end view mode-->
		<div class="clearfix xs-visible"></div>
	</div>
	<!--end panel heading-->
	<!--start panel body-->
	<div id="[['course' + $index]]" class="" collapse="isCollapsed.value">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6 is_no-padding">
					<div class="col-sm-6">light
						<div>lamp svg</div>
						<div class="is_row-square">
							<div class="pull-left">
								<div class="is_square-40">[[user1.highest_illumination]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user1.lowest_illumination]]</div>
							</div>
						</div>
						<div class="clearfix xs-visible"></div>
						<div class="is_row-square is_compare" ng-if="user2">
							<div class="pull-left">
								<div class="is_square-40">[[user2.highest_illumination]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user2.lowest_illumination]]</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">sound
						<div>speaker svg</div>
						<div class="is_row-square">
							<div class="pull-left">
								<div class="is_square-40">[[user1.highest_sound]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user1.lowest_sound]]</div>
							</div>
						</div>
						<div class="clearfix xs-visible"></div>
						<div class="is_row-square is_compare" ng-if="user2">
							<div class="pull-left">
								<div class="is_square-40">[[user2.highest_sound]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user2.lowest_sound]]</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 is_no-padding">
					<div class="col-sm-6">temperature
						<div>thermometer svg</div>
						<div class="is_row-square">
							<div class="pull-left">
								<div class="is_square-40">[[user1.highest_temperature]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user1.lowest_temperature]]</div>
							</div>
						</div>
						<div class="clearfix xs-visible"></div>
						<div class="is_row-square is_compare" ng-if="user2">
							<div class="pull-left">
								<div class="is_square-40">[[user2.highest_temperature]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user2.lowest_temperature]]</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">humidity
						<div>water drop svg</div>
						<div class="is_row-square">
							<div class="pull-left">
								<div class="is_square-40">[[user1.highest_humidity]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user1.lowest_humidity]]</div>
							</div>
						</div>
						<div class="clearfix xs-visible"></div>
						<div class="is_row-square is_compare" ng-if="user2">
							<div class="pull-left">
								<div class="is_square-40">[[user2.highest_humidity]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user2.lowest_humidity]]</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end sensor data-->
			<div class="row">
				<div class="col-sm-12">Cameragegevens</div>
				<div class="col-sm-6">efficiëntie%
					<div class="is_row-square">
						<div class="pull-left">
							<div class="is_square-40">[[user1.highest_focus]]</div>
						</div>
						<div class="pull-left">
							<div class="is_square-40">[[user1.lowest_focus]]</div>
						</div>
					</div>
					<div class="clearfix xs-visible"></div>
					<div class="is_row-square is_compare" ng-if="user2">
						<div class="pull-left">
							<div class="is_square-40">[[user2.highest_focus]]</div>
						</div>
						<div class="pull-left">
							<div class="is_square-40">[[user2.lowest_focus]]</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">pauze%
					<div class="is_row-square">
						<div class="pull-left">
							<div class="is_square-40">best</div>
						</div>
						<div class="pull-left">
							<div class="is_square-40">worst</div>
						</div>
					</div>
					<div class="clearfix xs-visible"></div>
					<div class="is_row-square is_compare" ng-if="user2">
						<div class="pull-left">
							<div class="is_square-40">best</div>
						</div>
						<div class="pull-left">
							<div class="is_square-40">worst</div>
						</div>
					</div>
				</div>
			</div>
			<!--end camera stats-->
			<div class="row">
				<div class="col-sm-12">
					<div class="pull-left">
						<h2>Title</h2>
					</div>
					<div class="pull-right">select x-axis</div>
					<div class="clearfix xs-visible"></div>
					<div>graph met 2 lijnen
                        <div>
                        <div>
                            <!--<select>
                                <option ng-model="graphOptions" value="option1">option1
                                </option>
                                <option ng-model="graphOptions" value="option2">option2
                                </option>
                                <option ng-model="graphOptions" value="option3">option3
                                </option>
                            </select>-->

							<select ng-model="selectedItem" ng-options="item as item.name for item in items"></select>

                            <dynamic-graph chartdata="chartdata"></dynamic-graph>
                            <!--<bar-chart height="300" data="data" hovered="hovered(args)></bar-chart>-->
                        </div>
					</div>
				</div>
			</div>
			<!--variable graph-->
		</div>
		<!--panelbody-->
	</div>
	<!--end panel-body-wrap-->
</div>
</script>

<script type="text/ng-template" id="dashboard_course-list.tpl">
<div class="panel panel-default">
	<!--start panel heading-->
	<div class="row panel-heading" ng-click="isCollapsed.value = !isCollapsed.value">
		<!--start panel-heading content-->
		<!--start view mode-->
		<div data-toggle="collapse" data-parent="#accordion" href="[['#course' + $index]]">
			<div class="col-md-8 pull-left row">
				<h1 class="panel-title">[[title]]</h1>
			</div>
			<div class="pull-right">
				<div class="pull-right">
					<div class="is_square-80">[[user1.total_time]]</div>
				</div>
				<div class="pull-right">
					<div class="is_square-80">[[user1.total_efficiency]]</div>
				</div>
			</div>
			<div class="clearfix xs-visible"></div>
		</div>
		<!--end view mode-->
		<a type="button" class="btn is_session-btn" ng-href="/app/[[viewedProfile.userID]]/sessions?[['course=' + course.id]]"> <!--/app/[[viewedProfile.id]]/sessions?-->
            <span class="glyphicon glyphicon-list"></span>
        </a>
		<div class="clearfix xs-visible"></div>
	</div>
	<!--end panel heading-->
	<!--start panel body-->
	<div id="[['course' + $index]]" class="" collapse="isCollapsed.value">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6 is_no-padding">
					<div class="col-sm-6">light
						<div>lamp svg</div>
						<div class="is_row-square">
							<div class="pull-left">
								<div class="is_square-40">[[user1.highest_illumination]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user1.lowest_illumination]]</div>
							</div>
						</div>
						<div class="clearfix xs-visible"></div>
						<div class="is_row-square is_compare" ng-if="user2">
							<div class="pull-left">
								<div class="is_square-40">[[user2.highest_illumination]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user2.lowest_illumination]]</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">sound
						<div>speaker svg</div>
						<div class="is_row-square">
							<div class="pull-left">
								<div class="is_square-40">[[user1.highest_sound]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user1.lowest_sound]]</div>
							</div>
						</div>
						<div class="clearfix xs-visible"></div>
						<div class="is_row-square is_compare" ng-if="user2">
							<div class="pull-left">
								<div class="is_square-40">[[user2.highest_sound]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user2.lowest_sound]]</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 is_no-padding">
					<div class="col-sm-6">temperature
						<div>thermometer svg</div>
						<div class="is_row-square">
							<div class="pull-left">
								<div class="is_square-40">[[user1.highest_temperature]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user1.lowest_temperature]]</div>
							</div>
						</div>
						<div class="clearfix xs-visible"></div>
						<div class="is_row-square is_compare" ng-if="user2">
							<div class="pull-left">
								<div class="is_square-40">[[user2.highest_temperature]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user2.lowest_temperature]]</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">humidity
						<div>water drop svg</div>
						<div class="is_row-square">
							<div class="pull-left">
								<div class="is_square-40">[[user1.highest_humidity]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user1.lowest_humidity]]</div>
							</div>
						</div>
						<div class="clearfix xs-visible"></div>
						<div class="is_row-square is_compare" ng-if="user2">
							<div class="pull-left">
								<div class="is_square-40">[[user2.highest_humidity]]</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">[[user2.lowest_humidity]]</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end sensor data-->
			<div class="row">
				<div class="col-sm-12">Cameragegevens</div>
				<div class="col-sm-6">efficiëntie%
					<div class="is_row-square">
						<div class="pull-left">
							<div class="is_square-40">[[user1.highest_focus]]</div>
						</div>
						<div class="pull-left">
							<div class="is_square-40">[[user1.lowest_focus]]</div>
						</div>
					</div>
					<div class="clearfix xs-visible"></div>
					<div class="is_row-square is_compare" ng-if="user2">
						<div class="pull-left">
							<div class="is_square-40">[[user2.highest_focus]]</div>
						</div>
						<div class="pull-left">
							<div class="is_square-40">[[user2.lowest_focus]]</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">pauze%
					<div class="is_row-square">
						<div class="pull-left">
							<div class="is_square-40">best</div>
						</div>
						<div class="pull-left">
							<div class="is_square-40">worst</div>
						</div>
					</div>
					<div class="clearfix xs-visible"></div>
					<div class="is_row-square is_compare" ng-if="user2">
						<div class="pull-left">
							<div class="is_square-40">best</div>
						</div>
						<div class="pull-left">
							<div class="is_square-40">worst</div>
						</div>
					</div>
				</div>
			</div>
			<!--end camera stats-->
			<div class="row">
				<div class="col-sm-12">
					<div class="pull-left">
						<h2>Title</h2>
					</div>
					<div class="pull-right">select x-axis</div>
					<div class="clearfix xs-visible"></div>
					<div>graph met 2 lijnen
                        <div>
                        <div>
                            <!--<select>
                                <option ng-model="graphOptions" value="option1">option1
                                </option>
                                <option ng-model="graphOptions" value="option2">option2
                                </option>
                                <option ng-model="graphOptions" value="option3">option3
                                </option>
                            </select>-->

							<select ng-model="selectedItem" ng-options="item as item.name for item in items"></select>

                            <dynamic-graph chartdata="chartdata"></dynamic-graph>
                            <!--<bar-chart height="300" data="data" hovered="hovered(args)></bar-chart>-->
                        </div>
					</div>
				</div>
			</div>
			<!--variable graph-->
		</div>
		<!--panelbody-->
	</div>
	<!--end panel-body-wrap-->
</div>
</script>
<script type="text/ng-template" id="dashboard_session-list.tpl">
<div class="panel panel-default">
    <!--start panel heading-->
    <div class="row panel-heading" ng-class="{edit : panelState=='edit'}" ng-switch="panelState">
        <!--start left menu-->
        <div class="btn-group-vertical menu-left">
            <label class="btn btn-success" ng-class="{active : sessionType=='live'}">
                <input type="radio" ng-model="sessionType" value="live" disabled>
                <span class="glyphicon glyphicon-play"></span>
            </label>
            <label class="btn btn-warning" ng-class="{active : sessionType=='past'}">
                <input type="radio" ng-model="sessionType" value="past" disabled>
                <span class="fi-history"></span>
            </label>
        </div>
        <!--end left menu-->
        <!--start panel-heading content-->
        <!--start view mode-->
        <div ng-switch-when="view" data-toggle="collapse" data-parent="#accordion" href="[['#session' + $index]]" ng-click="isCollapsed.value = !isCollapsed.value">
            <div class="col-md-8 pull-left row">
                <h2 class="panel-title">[[session.sessionData.description]]</h2>
                <span class="label label-default">[[data.headerdata.activityType]]</span>
                <div class="row">
                    <div class="col-sm-4 input-group">[[session.formattedStartDate]]</div>
                    <div class="col-sm-4 input-group" id="[[session.id + "starttime"]]">[[session.formattedStartTime]]</div>
                    <div class="col-sm-4 input-group" id="[[session.id + "endtime"]]">[[session.formattedEndTime]]</div>
                </div>
            </div>
            <div class="pull-right">
                <div class="pull-right">
                    <div class="is_square-80">[[session.sessionData.feedback_score]]</div>
                </div>
                <div class="pull-right" ng-if="sessionType=='live'">
                    <div class="is_square-80">[[session.sessionData.sessionEff]]</div>
                </div>
            </div>
            <div class="clearfix xs-visible"></div>
        </div>
        <!--end view mode-->
        <!--start edit mode-->
        <session-edit ng-switch-when="edit" sessiontype="sessionType" editdata="data.headerdata"></session-edit>
        <!--end edit mode-->
        <button type="button" class="btn is_edit-btn" ng-click="panelState='edit'">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <!--start right menu-->
        <div class="btn-group-vertical menu-right">
            <button type="button" class="btn btn-default" ng-click="save()" ng-disabled="sessionType == 'live'">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="cancel()" ng-disabled="sessionType == 'live'">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="delete()" >
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
        <!--end right menu-->
        <div class="clearfix xs-visible"></div>
    </div>
    <!--end panel heading-->
    <!--start panel body-->
    <div id="[['session' + $index]]" class="" collapse="isCollapsed.value">
        <div class="panel-body" ng-if="tracked">
            <div class="row">
                <div class="col-md-6 is_no-padding">
                    <div class="col-sm-6">licht
						<div>light svg</div>
                        <div class="is_row-square">
                            <div class="pull-left">
                                <div class="is_square-40">[[session.sessionData.sessionIll]]</div>
                            </div>
                        </div>
                        <div class="clearfix xs-visible"></div>
                    </div>
                    <div class="col-sm-6">geluid
						<div>sound svg</div>
                        <div class="is_row-square">
                            <div class="pull-left">
                                <div class="is_square-40">[[session.sessionData.sessionSound]]</div>
                            </div>
                        </div>
                        <div class="clearfix xs-visible"></div>
                    </div>
                </div>
                <div class="col-md-6 is_no-padding">
                    <div class="col-sm-6">temperatuur
                        <div>thermometer svg</div>
                        <div class="is_row-square">
                            <div class="pull-left">
                                <div class="is_square-40">[[session.sessionData.sessionTemp]]</div>
                            </div>
                        </div>
                        <div class="clearfix xs-visible"></div>
                    </div>
                    <div class="col-sm-6">luchtvochtigheid
                        <div>water drop svg</div>
                        <div class="is_row-square">
                            <div class="pull-left">
                                <div class="is_square-40">[[session.sessionData.sessionHum]]</div>
                            </div>
                        </div>
                        <div class="clearfix xs-visible"></div>
                    </div>
                </div>
            </div>
            <!--end sensor data-->
            <div class="row">
                <div class="col-sm-12">Focuspercentage</div>
                <div class="col-sm-6">efficiëntie%
                    <div class="is_row-square">
                        <div class="pull-left">
                            <div class="is_square-40">[[session.sessionData.sessionFocus]]</div>
                        </div>
                    </div>
                    <div class="clearfix xs-visible"></div>
                </div>
                <div class="col-sm-6">pauze%
                    <div class="is_row-square">
                        <div class="pull-left">
                            <div class="is_square-40">best</div>
                        </div>
                        <div class="pull-left">
                            <div class="is_square-40">worst</div>
                        </div>
                    </div>
                    <div class="clearfix xs-visible"></div>
                </div>
            </div>
            <!--end camera stats-->
        </div>
        <!--panelbody-->
    </div>
    <!--end panel-body-wrap-->
</div>
</script>
<script type="text/ng-template" id="sessionEdit.tpl">
	<div>
		<div class="col-md-8 pull-left row">
                <textarea class="form-control" rows="1" placeholder="Beschrijving"></textarea>
                <div class="btn-group">
                    <label class="btn btn-primary" ng-class="{active : editeddata.activityType=='class'}">
                        <input type="radio" ng-model="editeddata.activityType" value="class">Les</label>
                    <label class="btn btn-primary" ng-class="{active : editeddata.activityType=='study'}">
                        <input type="radio" ng-model="editeddata.activityType" value="study">Studie</label>
                </div>
                <div class="row">
                    <div class="col-sm-4 input-group" >
                        <input type='text' class="form-control" data-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" ng-disabled="sessiontype == 'live'"/>
                        <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-disabled="sessiontype == 'live'" id="[[editdata.sessionID + "datepicker"]]">
								<span class="glyphicon glyphicon-calendar"></span>
							</button>
                    	</span>
                    </div>
                    <div class="col-sm-4 input-group" >
                        <input type='text' class="form-control" placeholder="hh:mm" ng-disabled="sessiontype == 'live'"/>
                        <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-disabled="sessiontype == 'live'" id="[[editdata.sessionID + "starttime"]]">
								<span class="glyphicon glyphicon-time"></span>
							</button>
                    	</span>
                    </div>
                    <div class="col-sm-4 input-group" >
                        <input type='text' class="form-control" placeholder="hh:mm" ng-disabled="sessiontype == 'live'"/>
                        <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-disabled="sessiontype == 'live'" id="[['kut' + 'endtime']]">
								<span class="glyphicon glyphicon-time"></span>
							</button>
                    	</span>
                    </div>
                </div>
                <div class="row">
					<div class="col-sm-4 input-group">
						<input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Sluiten" ng-disabled="sessionType == 'live'"/>
						<!--<input type="text" class="form-control" data-format="DD/MM/YYYY" placeholder="dd/mm/jjjj" ng-disabled="sessionType == 'live'">-->
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open()" ng-disabled="sessionType == 'live'" id="[[session.id + 'datepicker']]">
								<span class="glyphicon glyphicon-calendar"></span>
							</button>
						</span>
					</div>
					<div class="col-sm-4 input-group">
						<input type="text" class="form-control" timepicker-popup="dd/MM/yyyy" ng-model="myStartTime" is-open="openedST" min="myStartTime" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Sluiten" ng-disabled="sessionType == 'live'"/>
						<span class="dropdown open input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openST()" ng-disabled="sessionType == 'live'" id="[[session.id + 'starttime']]">
								<span class="glyphicon glyphicon-time"></span>
							</button>
						</span>
					</div>
					<div class="col-sm-4 input-group">
						<input type="text" class="form-control" placeholder="hh:mm" ng-disabled="sessionType == 'live'">
						<span class="dropdown input-group-btn">
							<button type="button" class="dropdown-toggle btn btn-default" ng-disabled="sessionType == 'live'" id="[[session.id + 'endtime']]">
								<span class="glyphicon glyphicon-time"></span>
							</button>
							<div class="dropdown-menu">
								<div ng-model="mytime" ng-change="changed()" class="well well-small" style="display:inline-block;">
									<datepicker-popup-wrap><timepicker hour-step="1" minute-step="5" show-meridian="false"></timepicker></datepicker-popup-wrap>
								</div>
							</div>
						</span>
					</div>
				</div>
            </div>
            <div class="pull-right">
                <div class="pull-right">
                    <div class="is_square-80">
                        <textarea class="form-control" rows="3" placeholder="Feedback gebruiker" ng-disabled="sessionType == 'live'"></textarea>
                    </div>
                </div>
            </div>
	</div>
</script>
<script type="text/ng-template" id="panels.tpl">
	<div ng-switch="appViewState">
		<div class="panel-group" id="accordion" ng-switch-when="dashboard">
			<dashboardpanel></dashboardpanel>
		</div>
		<div class="panel-group" id="accordion" ng-switch-when="courses" ng-controller="coursecontroller">
			<coursepanel ng-repeat="course in courselist"></coursepanel>
		</div>
		<div class="panel-group" id="accordion" ng-switch-when="sessions" ng-controller="sessionscontroller">
			<sessionpanel ng-repeat="session in sessionlist | filter:courseFilterFunction"></sessionpanel> <!-- Boris (session.sessionData.course_id == courseFilter.selected) -->
		</div>
	</div>
</script>
<div class="row">
	<div class="is_content is_follow_navbar is_follow_sidepanel is_follow_sidepanel_style" ng-class="{is_follow_navbar_style : !isCollapsedTopnav.value, is_follow_sidepanel_style : !isCollapsedSidepanel.value, is_transitioning : isTransitioningSidepanel.value }">
		<div class="col-xs-12 is_header" style="background-image: url({{url_for('static', filename='header_img2.jpg')}})">
			<div class="col-sm-6 is_profile-info">
				<div class="is_info-background">
					<div class="is_profile-pic-container">
						<img class="img-rounded img-responsive" src="[[viewedProfile.pic_big]]"></img>
					</div>
					<div class="is_info">
						<h2>[[viewedProfile.name]] [[viewedProfile.surname]]</h2>
						<br>
						<a href="#">Ku leuven</a>
						<br>
						[[viewedProfile.study]]
						<br>
					</div>
				</div>
			</div>
			<div class="col-sm-6"></div>
		</div>
		<div class="is_user-abstract is_follow_navbar" ng-class="{is_follow_navbar_style : !isCollapsedTopnav.value}" ui-scrollfix="+212"> <!--affix-top" data-spy="affix" data-offset-top="309"-->
			<div class="is_profile-pic-container">
				<img class="img-rounded img-responsive" src="https://graph.facebook.com/jacobspelle/picture?width=200&height=200"></img>
			</div>
			<h4>[[viewedProfile.name]] [[viewedProfile.surname]]</h4>
		</div>
		<div class="is_content-actions is_follow_navbar" ng-class="{is_follow_navbar_style : !isCollapsedTopnav.value}" ui-scrollfix="-97"> <!-- data-spy="affix" data-offset-top="309" -->
			<ol class="breadcrumb">
				<li>
					<a href="[['/app/' + viewedProfile.userID + '/dashboard']]">
						<i class="fi-home large"></i>
						<span class="hidden-xs">Dashboard</span>
					</a>
				</li>
				<li>
					<a href="[['/app/' + viewedProfile.userID + '/courses']]">
						<i class="fi-book large"></i>
						<span class="hidden-xs">Vakken</span>
					</a>
				</li>
				<li>
					<a href="[['/app/' + viewedProfile.userID + '/sessions']]">
						<i class="fi-results large"></i>
						<span class="hidden-xs">Sessies</span>
					</a>
				</li>
			</ol>
			<div class="btn-group">
  				<label class="btn btn-primary" ng-class="{active : compareToggle==true, hidden : (appviewstate != 'courses') }">
    				<input type="checkbox" ng-model="compareToggle">Vergelijken
  				</label>
  				<select class="form-control" ng-model="courseFilter.selected" ng-options="course.id as course.name for course in selectableCourseList" ng-class="{ hidden : (appviewstate != 'sessions') }"></select> <!-- Boris -->
			</div>
		</div>
		<div class="container" ng-class="{compare: compareToggle}" style="max-width:100%">
			<ng-view></ng-view>
		</div>
		<div class="is_footer">
			<div class="container" style="max-width:100%">
				<img src="{{url_for('static', filename='footer-top.svg')}}"></img>
			</div>
			<div class="container is_no-padding" style="max-width:100%">
				<div class="col-sm-6 is_no-padding">
					<div class="col-xs-6">logo</div>
					<div class="col-xs-6">sociaal</div>
				</div>
				<div class="col-sm-6 is_no-padding">
					<div class="col-xs-6">over</div>
					<div class="col-xs-6">contact</div>
				</div>
				<div class="clearfix xs-visible"></div>
				<div class="is_legal">Copyright 2013 - iStudy+</div>
			</div>
		</div>
	</div>
</div>{% endblock %}