<div class="panel panel-default">
	<!--start panel heading-->
	<div class="row panel-heading">
		<!--start panel-heading content-->
		<!--start view mode-->
		<div data-toggle="collapse" data-parent="#accordion" href="[['#course' + $index]]">
			<div class="col-md-8 pull-left row">
				<h2 class="panel-title">Collapsible Group Item #1</h2>
				<span class="label label-default">Studie</span>
				<div class="row">
					<div class="col-sm-4 input-group" id='datepicker'>dd/mm/jjjj</div>
					<div class="col-sm-4 input-group" id="starttimepicker">hh:mm pm</div>
					<div class="col-sm-4 input-group" id="endtimepicker">hh:mm pm</div>
				</div>
			</div>
			<div class="pull-right">
				<div class="pull-right">
					<div class="is_square-80">feedback gebruiker</div>
				</div>
				<div class="pull-right">
					<div class="is_square-80">efficiëntiescore</div>
				</div>
			</div>
			<div class="clearfix xs-visible"></div>
		</div>
		<!--end view mode-->
		<div class="clearfix xs-visible"></div>
	</div>
	<!--end panel heading-->
	<!--start panel body-->
	<div id="[['course' + $index]]" class="panel-collapse collapse">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6 is_no-padding">
					<div class="col-sm-6">light
						<div>lamp svg</div>
						<div class="is_row-square">
							<div class="pull-left">
								<div class="is_square-40">best</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">worst</div>
							</div>
						</div>
						<div class="clearfix xs-visible"></div>
						<div class="is_row-square is_compare">
							<div class="pull-left">
								<div class="is_square-40">best</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">worst</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">sound
						<div>speaker svg</div>
						<div class="is_row-square">
							<div class="pull-left">
								<div class="is_square-40">best</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">worst</div>
							</div>
						</div>
						<div class="clearfix xs-visible"></div>
						<div class="is_row-square is_compare">
							<div class="pull-left">
								<div class="is_square-40">best</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">worst</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 is_no-padding">
					<div class="col-sm-6">temperature
						<div>thermometer svg</div>
						<div class="is_row-square">
							<div class="pull-left">
								<div class="is_square-40">best</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">worst</div>
							</div>
						</div>
						<div class="clearfix xs-visible"></div>
						<div class="is_row-square is_compare">
							<div class="pull-left">
								<div class="is_square-40">best</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">worst</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">humidity
						<div>water drop svg</div>
						<div class="is_row-square">
							<div class="pull-left">
								<div class="is_square-40">best</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">worst</div>
							</div>
						</div>
						<div class="clearfix xs-visible"></div>
						<div class="is_row-square is_compare">
							<div class="pull-left">
								<div class="is_square-40">best</div>
							</div>
							<div class="pull-left">
								<div class="is_square-40">worst</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end sensor data-->
			<div class="row">
				<div class="col-sm-12">Cameragegevens</div>
				<div class="col-sm-6">efficiëntie%
					<div class="is_row-square">
						<div class="pull-left">
							<div class="is_square-40">best</div>
						</div>
						<div class="pull-left">
							<div class="is_square-40">worst</div>
						</div>
					</div>
					<div class="clearfix xs-visible"></div>
					<div class="is_row-square is_compare">
						<div class="pull-left">
							<div class="is_square-40">best</div>
						</div>
						<div class="pull-left">
							<div class="is_square-40">worst</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">pauze%
					<div class="is_row-square">
						<div class="pull-left">
							<div class="is_square-40">best</div>
						</div>
						<div class="pull-left">
							<div class="is_square-40">worst</div>
						</div>
					</div>
					<div class="clearfix xs-visible"></div>
					<div class="is_row-square is_compare">
						<div class="pull-left">
							<div class="is_square-40">best</div>
						</div>
						<div class="pull-left">
							<div class="is_square-40">worst</div>
						</div>
					</div>
				</div>
			</div>
			<!--end camera stats-->
			<div class="row">
				<div class="col-sm-12">
					<div class="pull-left">
						<h2>Title</h2>
					</div>
					<div class="pull-right">select x-axis</div>
					<div class="clearfix xs-visible"></div>
					<div>graph met 2 lijnen
                        <div>
                        <div>
                            <!--<select>
                                <option ng-model="graphOptions" value="option1">option1
                                </option>
                                <option ng-model="graphOptions" value="option2">option2
                                </option>
                                <option ng-model="graphOptions" value="option3">option3
                                </option>
                            </select>-->

							<select ng-model="selectedItem" ng-options="item as item.name for item in items"></select>

                            <dynamic-graph chartdata="chartdata"></dynamic-graph>
                            <!--<bar-chart height="300" data="data" hovered="hovered(args)></bar-chart>-->
                        </div>
					</div>
				</div>
			</div>
			<!--variable graph-->
		</div>
		<!--panelbody-->
	</div>
	<!--end panel-body-wrap-->
</div>