{% extends "pages/base.html" %} {% block navigation %}
<div class="navbar navbar-default navbar-fixed-top is_navbar" role="banner">
	<div class="c">
		<div class="navbar-collapse bs-navbar-collapse collapse is_navbar-btns" role="navigation">
			<ul class="nav navbar-nav is_border-overlay-mobile">
				<li class="dropdown active open">
					<a id="createSession-btn" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Sessie aanmaken
						<b class="caret"></b>
					</a>
					<div class="dropdown-menu pull-right" role="menu" aria-labelledby="createSession-btn">
						<div>
							<div class="col-md-8 pull-left row">
								<textarea class="form-control" rows="1" placeholder="Beschrijving"></textarea>
								<div class="btn-group">
									<label class="btn btn-primary" ng-class="{active : editeddata.activityType=='class'}">
										<input type="radio" ng-model="editeddata.activityType" value="class">Les</label>
									<label class="btn btn-primary" ng-class="{active : editeddata.activityType=='study'}">
										<input type="radio" ng-model="editeddata.activityType" value="study">Studie</label>
								</div>
								<div class="row">
									<div class="col-sm-4 input-group" id="datepicker">
										<input type="text" class="form-control" data-format="DD/MM/YYYY" placeholder="dd/mm/jjjj" ng-disabled="sessionType == 'live'">
										<span class="input-group-btn">
											<button type="button" class="btn btn-default" ng-disabled="sessionType == 'live'" id="[[session.id + " datepicker "]]">
												<span class="glyphicon glyphicon-calendar"></span>
											</button>
										</span>
									</div>
									<div class="col-sm-4 input-group" id="starttimepicker">
										<input type="text" class="form-control" placeholder="hh:mm" ng-disabled="sessionType == 'live'">
										<span class="input-group-btn">
											<button type="button" class="btn btn-default" ng-disabled="sessionType == 'live'" id="[[session.id + " starttime "]]">
												<span class="glyphicon glyphicon-time"></span>
											</button>
										</span>
									</div>
									<div class="col-sm-4 input-group" id="endtimepicker">
										<input type="text" class="form-control" placeholder="hh:mm" ng-disabled="sessionType == 'live'">
										<span class="input-group-btn">
											<button type="button" class="btn btn-default" ng-disabled="sessionType == 'live'" id="[[session.id + " endtime "]]">
												<span class="glyphicon glyphicon-time"></span>
											</button>
										</span>
									</div>
								</div>
							</div>
							<div class="pull-right">
								<div class="pull-right">
									<div class="is_square-80">
										<textarea class="form-control" rows="3" placeholder="Feedback gebruiker" ng-disabled="sessionType == 'live'"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="btn-group-vertical menu-left">
							<label class="btn btn-info" ng-class="{active : sessionType=='future'}">
								<input type="radio" ng-model="sessionType" value="future" class="ng-pristine ng-valid" name="04I">
								<span class="fi-future"></span>
							</label>
							<label class="btn btn-success active" ng-class="{active : sessionType=='live'}">
								<input type="radio" ng-model="sessionType" value="live" class="ng-pristine ng-valid" name="04J">
								<span class="glyphicon glyphicon-play"></span>
							</label>
							<label class="btn btn-warning" ng-class="{active : sessionType=='past'}">
								<input type="radio" ng-model="sessionType" value="past" class="ng-pristine ng-valid" name="04K">
								<span class="fi-history"></span>
							</label>
						</div>
					</div>
					<div class="clearfix xs-visible"></div>
				</li>
				<li>
					<a href="/user/settings">Instellingen</a>
				</li>
				<li>
					<a href="/user/logout">Afmelden</a>
				</li>
			</ul>
			<!--<ul class="nav navbar-nav navbar-right is_border-overlay-mobile">
<li>
<a href="../about">About</a>
</li>
</ul>-->
		</div>
		<div class="nav navbar-left">
			<button class="navbar-toggle is_toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse" data-followers=".is_follow-navbar" data-follow-class="is_follow-navbar-style">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="../" class="navbar-brand is_border-overlay">
				<img src="{{url_for('static', filename='is_logo40.png')}}" alt="iStudy+">
			</a>
			<button class="navbar-toggle width pull-right is_toggle is_sidepanel-toggle" type="button" data-toggle="collapse" data-is-target=".is_sidepanel-collapse" data-followers=".is_follow-sidepanel" data-follow-class="is_follow-sidepanel-style">
				<span class="sr-only">Toggle navigation</span>
				<i class="fi-results-demographics large"></i>
			</button>
		</div>
	</div>
</div>
<div class="is_sidepanel-collapse is_sidepanel is_follow-navbar">
	<div class="is_sidepanel-content">
		<div class="is_sidepanel-top">
			<div class="is_sidepanel-list-item">
				<div class="is_profile-pic-container">
					<img class="img-rounded img-responsive" src="https://graph.facebook.com/jacobspelle/picture?width=40&height=40"></img>
				</div>
				<h4>First name Last name</h4>
			</div>
			<div class="is_sidepanel-list-item">
				<div class="is_profile-pic-container">
					<img class="img-rounded img-responsive" src="https://graph.facebook.com/jacobspelle/picture?width=40&height=40"></img>
				</div>
				<h4>Student met de pet</h4>
			</div>
		</div>
		<div>
			<label class="is_user-search">
				<i class="fi-magnifying-glass"></i>
				<input type="text" placeholder="Zoeken" ng-model="searchEntry">
			</label>
		</div>
		<div class="is_sidepanel-student-list-wrap is_follow-navbar">
			<div class="is_sidepanel-student-list">
				<a class="is_sidepanel-list-item" ng-repeat="student in commonStudents | filter:searchEntry" ng-cloak ng-href="/app/[[student.userID]]/[[appviewstate]]">
					<div class="is_profile-pic-container">
						<img class="img-rounded img-responsive" src=""></img>
					</div>
					<h4>[[student.name]]</h4>
				</a>
			</div>
		</div>
	</div>
</div>{% block content %}{% endblock %} {% endblock %}