{% extends "pages/site_navigation.html" %} {% block site_content %}
<div class="container">
	<form method="POST" action="/user/register" class="siteform">
		<div class="col-md-4">
			<h2 class="form-signin-heading">Uw accountgegevens</h2>
			<input type="Username" class="form-control" placeholder="First name" name="name" required>
			<input type="Username" class="form-control" placeholder="Last Name" name="lastname" required>
			<!-- <select type="Education" class="form-control" placeholder="Institution" required>
                <option>Institution</option>
                <option>KULeuven</option>
                <option>lol</option>
                <option>lol2</option> --></select>
			<select type="text" class="form-control" placeholder="opleiding" name="study" required>
				<option>Opleiding</option>
				<option>1e Bach Burgerlijk Ingenieur</option>
			</select>
			<input type="email" class="form-control" placeholder="Email address" name="email" required>
			<input type="password" class="form-control" placeholder="Password" name="pass1" required>
			<input type="password" class="form-control" placeholder="Confirm password" name="pass2" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
		</div>
		<div class="col-md-4">
			<h2>Kies een profielfoto</h2>
			<div class="profile">
				<div class="profile-avatar-wrap">
					<img src="{{url_for('static', filename='256.jpg')}}" id="profile-avatar" alt="Image for Profile">
				</div>
				<span class="btn btn-default btn-file">Browse
					<input type="file" id="uploader">
				</span>
				<span class="hidden">
					<input type="text" name="profile-img_small" id="profile-img_small">
				</span>
				<span class="hidden">
					<input type="text" name="profile-img_large" id="profile-img_large">
				</span>
			</div>
			<p>Sleep een afbeelding naar deze pagina, of selcecteer een bestand.</p>
		</div>
		<div class="col-md-4">
			<div id="container">
				<h2>Koppel een iStudy+device</h2>
				<div>
					<video id="sourcevid">
						<p>This application requires an HTML5
							<code>&lt;video&gt;</code>capable browser…</p>
						<span class="">
							<!-- <input type="text" name="device-id" id="device-id"> -->
						</span>
					</video>
				</div>
				<div id="out"></div>
				<input type="text" name="deviceID" id="deviceID" class="form-control">
			</div>
			<!-- Uses https://github.com/LazarSoft/jsqrcode LazarSoft's jsQRcode implementation -->
			<script src="{{url_for('static', filename='js/lib/qr.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/script.js')}}"></script>
		</div>
	</form>
</div>{% endblock %}