{% extends "pages/site_navigation.html" %}
{% block site_content %}
		<div class="container">
			<div class="col-md-4">
				<form method="POST" action="/user/register" class="form-signin">
					<h2 class="form-signin-heading">Uw accountgegevens</h2>
					<input type="Username" class="form-control" placeholder="First name" name="name" required>
					<input type="Username" class="form-control" placeholder="Last Name" name="lastname" required>
					<!-- <select type="Education" class="form-control" placeholder="Institution" required>
                <option>Institution</option>
                <option>KULeuven</option>
                <option>lol</option>
                <option>lol2</option> --></select>
					<select type="text" class="form-control" placeholder="opleiding" required>
						<option>Opleiding</option>
						<option>Burgerlijk Ingenieur</option>
					</select>
					<input type="email" class="form-control" placeholder="Email address" name="email" required>
					<input type="password" class="form-control" placeholder="Password" name="pass1" required>
					<input type="password" class="form-control" placeholder="Confirm password" name="pass2" required>
					<label class="checkbox">
						<input type="checkbox" value="remember-me">Ik wil verdere info ontvangen omtrend updates</label>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
				</form>
			</div>
			<div class="col-md-8">
				<div id="container">
					<h2>
						Koppel een iStudy+device
					</h2>
					<div>
						<video id="sourcevid">
							<p>This application requires an HTML5
								<code>&lt;video&gt;</code>capable browser…</p>
						</video>
					</div>
					<div id="out"></div>
				</div>
				<!-- Uses https://github.com/LazarSoft/jsqrcode LazarSoft's jsQRcode implementation -->
				<script src="{{url_for('static', filename='js/lib/qr.min.js')}}"></script>
				<script src="{{url_for('static', filename='js/script.js')}}"></script>
			</div>
		</div>
{% endblock %}