{% extends "pages/navigation_top.html" %} {% block fullwidth_content %}
<div class="container is_content">
	<div class="page-header">
		<h1>Veel plezier met je sessie</h1>
	</div>
	<p>
		<button type="button" class="btn btn-lg btn-success">Pauze</button>
		<button type="button" class="btn btn-lg btn-warning">Beëindigen</button>
		<button type="button" class="btn btn-lg btn-danger">Pauze</button>
	</p>
	<!-- SVG SOURCE -->
	<svg height="30%" width="30%" style="display:none">
		<g id="clock-icon">
			<style>
				svg, #container {
					height: 40%;
					width: 40%;
				}

			</style>
			<rect id="minute-hand" transform="rotate(0 16 17)" x="15.386" y="6.464" width="1.227" height="11.439" />
			<rect id="hour-hand" transform="rotate(0 16 17)" x="15.386" y="10.291" width="1.227" height="7.626" />
			<rect id="second-hand" transform="rotate(0 16 17)" x="15.88" y="7.46" fill="#ff8417" width="0.24" height="9.83" />
			<path d="M15.879,2.531c-8.14,0-14.739,6.599-14.739,14.739c0,8.14,6.599,14.739,14.739,14.739s14.739-6.6,14.739-14.739
	C30.618,9.13,24.02,2.531,15.879,2.531z M15.879,30.852c-7.511,0-13.6-6.089-13.6-13.6c0-7.511,6.089-13.601,13.6-13.601	c7.511,0,13.6,6.089,13.6,13.601C29.479,24.763,23.391,30.852,15.879,30.852z" />
			<script type="text/javascript">
				var setTime = function() {
					var date = new Date(),
						MINUTE = 60,
						HOUR = 60 * MINUTE,
						seconds = date.getSeconds(),
						minutes = (date.getMinutes() * MINUTE) + seconds,
						hours = (date.getHours() * HOUR) + minutes;

					document.getElementById('second-hand').setAttribute('transform', 'rotate(' + 360 * (seconds / MINUTE) + ',16,17)');
					document.getElementById('minute-hand').setAttribute('transform', 'rotate(' + 360 * (minutes / HOUR) + ',16,17)');
					document.getElementById('hour-hand').setAttribute('transform', 'rotate(' + 360 * (hours / (12 * HOUR)) + ',16,17)');
				}
				setTime();
				var interval = setInterval(setTime, 1000);
			</script>
		</g>
	</svg>
	<!-- SVG SOURCE ends-->
	<svg class="icon is-x10" viewBox="0 0 32 32">
		<use xlink:href="#clock-icon"></use>
	</svg>
	<div class="page-header">
		<div class="alert alert-warning">
			<strong>Warning!</strong>Best check yo self, you're not looking too good.</div>
		<div class="progress">
			<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
				<span class="sr-only">40% Complete (success)</span>
			</div>
		</div>
		<div class="progress">
			<div class="progress-bar progress-bar-success" style="width: 35%">
				<span class="sr-only">35% Complete (success)</span>
			</div>
			<div class="progress-bar progress-bar-warning" style="width: 20%">
				<span class="sr-only">20% Complete (warning)</span>
			</div>
			<div class="progress-bar progress-bar-danger" style="width: 10%">
				<span class='sr-only'>10% Complete (danger)</span>
			</div>
		</div>
	</div>
	<!-- /container -->{% endblock %}