{% extends "pages/navigation_top.html" %} {% block fullwidth_content %}
<div class="container tracking text-center">
	<div class="page-header">
		<h1>Veel plezier met je sessie</h1>
	</div>
	<!-- SVG SOURCE -->
	<svg height="30%" width="30%" style="display:none">
		<g id="clock-icon">
			<style>
				svg, #container {
					height: 40%;
					width: 40%;
				}

			</style>
			<rect id="minute-hand" transform="rotate(0 16 17)" x="15.386" y="6.464" width="1.227" height="11.439" />
			<rect id="hour-hand" transform="rotate(0 16 17)" x="15.386" y="10.291" width="1.227" height="7.626" />
			<rect id="second-hand" transform="rotate(0 16 17)" x="15.88" y="7.46" fill="#ff8417" width="0.24" height="9.83" />
			<path d="M15.879,2.531c-8.14,0-14.739,6.599-14.739,14.739c0,8.14,6.599,14.739,14.739,14.739s14.739-6.6,14.739-14.739
	C30.618,9.13,24.02,2.531,15.879,2.531z M15.879,30.852c-7.511,0-13.6-6.089-13.6-13.6c0-7.511,6.089-13.601,13.6-13.601	c7.511,0,13.6,6.089,13.6,13.601C29.479,24.763,23.391,30.852,15.879,30.852z" />
			<script type="text/javascript">
				var setTime = function() {
					var date = new Date(),
						MINUTE = 60,
						HOUR = 60 * MINUTE,
						seconds = date.getSeconds(),
						minutes = (date.getMinutes() * MINUTE) + seconds,
						hours = (date.getHours() * HOUR) + minutes;

					document.getElementById('second-hand').setAttribute('transform', 'rotate(' + 360 * (seconds / MINUTE) + ',16,17)');
					document.getElementById('minute-hand').setAttribute('transform', 'rotate(' + 360 * (minutes / HOUR) + ',16,17)');
					document.getElementById('hour-hand').setAttribute('transform', 'rotate(' + 360 * (hours / (12 * HOUR)) + ',16,17)');
				}
				setTime();
				var interval = setInterval(setTime, 1000);
			</script>
		</g>
	</svg>
	<!-- SVG SOURCE ends-->
	<svg class="icon is-x10" viewBox="0 0 32 32">
		<use xlink:href="#clock-icon"></use>
	</svg>
	<div class="btn-group" ng-if="tracking.state != 'end'" >
		<button type="button" class="btn btn-lg btn-warning" ng-if="tracking.state == 'active'" ng-click="tracking.state = 'pause'">Pauze</button>
		<button type="button" class="btn btn-lg btn-success" ng-if="tracking.state == 'pause'" ng-click="tracking.state = 'active'">Hervatten</button>
		<button type="button" class="btn btn-lg btn-danger" ng-click="tracking.state = 'end'">Einde</button>
	</div>
	<div ng-if="tracking.state == 'end'" ng-cloak>
		<h2>Hoe tevreden ben je over je sessie?</h2>
		<rating value="rate" state-on="'glyphicon glyphicon-stop'" state-off="'glyphicon glyphicon-minus'" max="10" readonly="false"></rating>
		<div class="btn-group0">
			<button type="button" class="btn btn-lg btn-success" ng-href="/app/[['hallo']]/dashboard">Opslaan</button>
			<tweet text="'Ik heb net een sessie afgewerkt met #iStudy+'" tweeturl="'www.istudyplus.tk/app/' + loggedInProfile.userID + '/dashboard'"></tweet>
		</div>
	</div>

	<!-- /container -->{% endblock %}